$orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);
$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$standard: 16px;

.page-content {
  height: 100vh;
}

@mixin standard-text {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

@mixin bold-text {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.nav-content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

a p {
  color: $Grayish-blue;
  font-weight: bold;
  margin: 0;
}

a p:hover {
  color: $Black;
}

.btn {
  margin: 0 15px;
}

.nav {
  left: 0;
  background-color: white;
  height: 100vh;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.8);
  z-index: 10;
  width: 250px;
}

.pc-nav {
  margin-left: 50px;
}

.pc-nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 80%;
}

.toClose {
  width: fit-content;
  margin: 24px 0 30px 0;
  z-index: 10;
  cursor: pointer;
}

.profile {
  width: 34px;
  height: 34px;
}

.profile:hover {
  border-radius: 50px;
  outline: 2px solid $orange;
  cursor: pointer;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $Grayish-blue;
}

.cart {
  width: 23px;
  height: 23px;
}

.cart:hover {
  cursor: pointer;
}

.top-bar {
  height: 60px;
  margin: 30px 0;
}

h1,
h2,
.value,
.new-price,
.discount {
  @include bold-text();
}

.top-bar {
  a {
    @include standard-text();
    text-decoration: none;
  }
}

h6,
p {
  @include standard-text();
}

.products {
  max-width: 350px;
  width: 100%;
  height: 350px;
}

.subtitle {
  @include bold-text();
  color: $orange;
}

.description {
  color: $Dark-grayish-blue;
}

.counter {
  background-color: $Light-grayish-blue;
}

.main-content {
  display: flex;
  align-items: center;
  height: 70vh;
}

.photos {
  margin-top: 30px;
  gap: 20px;
}

.photos img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}

.photos img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.right-part {
  max-width: 480px;
}

button {
  border: none;
  background-color: transparent;
}

.discount {
  background-color: $Pale-orange;
  color: $orange;
  width: 50px;
  border-radius: 10px;
}

.old-price {
  @include standard-text();
  color: $Dark-grayish-blue;
}

.cart-top {
  display: flex;
  flex-direction: row-reverse;
}

.add {
  position: relative;
  top: 0px;
  right: 30px;
  color: $White;
  background-color: $orange;
  border-radius: 30px;
  font-size: 12px;
  padding: 0 5px;
  height: 18px;
  width: 20px;
}

.add-to-cart {
  background-color: $orange;
  color: white;
  // width: 100%;
  margin-bottom: 20%;
  border-radius: 10px;
}

.add-to-cart:hover {
  opacity: 0.5;
}

.cart-2 {
  filter: brightness(0) invert(1);
}

.basket-content {
  position: relative;
  background-color: $White;
  width: 388px;
  height: 310px;
  margin-right: 20px;
  margin-top: 10px;
  z-index: 10;
  -webkit-box-shadow: 0px 6px 15px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 15px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 15px -5px rgba(0, 0, 0, 0.75);
}

h2 {
  margin-left: 15px;
}

.line {
  position: absolute;
  background-color: $Grayish-blue;
  width: 100%;
  height: 1px;
  left: 0;
}

.top-line {
  background-color: $Grayish-blue;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.cart-img {
  width: 70px;
  height: 70px;
}

.checkout {
  width: 90%;
  background-color: $orange;
  color: $White;
  padding: 20px 0;
}

.text {
  width: fit-content;
}

.trash {
  width: 18px;
  height: 22px;
}

.text:not(span) {
  color: $Dark-grayish-blue;
}

span {
  color: black;
}

.slider {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.counter img:hover {
  opacity: 0.5;
}

.prev-button,
.next-button {
  background: none;
  border: none;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
}

.prev-button img,
.next-button img {
  width: 12px;
  height: 17px;
}

.prev-button {
  margin-left: 18%;
}

.next-button {
  margin-right: 18%;
}

.menu {
  margin-right: 10px;
}

.logo {
  height: 30px;
}

@media (min-width: 768px) {
  .products {
    border-radius: 20px;
  }
  .counter {
    width: 30%;
  }
  .add-to-cart {
    width: 70%;
  }
  .slider img,
  .slider {
    width: 0;
    height: 0;
  }
}

@media (max-width: 767px) {
  .top-line {
    visibility: hidden;
    margin: 0;
  }
  .top-bar {
    margin: 0;
  }
  .right-part {
    background-color: $Light-grayish-blue;
  }
}
