$orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);
$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$standard: 16px;

.page-content {
  height: 100vh;
}

@mixin standard-text {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

@mixin bold-text {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.nav-content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

a p {
  color: $Black;
  font-weight: bold;
}

.btn {
  margin: 0 15px;
}

.nav {
  margin-left: 0px;
}

nav {
  background-color: white;
  height: 100vh;
  width: 70vw;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.toClose {
  width: fit-content;
  margin: 24px 0 30px 0;
  z-index: 10;
}

.content {
  background-color: $Light-grayish-blue;
}

.cart,
.profile {
  width: 24px;
  height: 24px;
}

.top-bar {
  height: 60px;
}

h1,
h2,
.value,
.new-price,
.discount {
  @include bold-text();
}

.top-bar {
  a {
    @include standard-text();
    text-decoration: none;
  }
}

h6,
p {
  @include standard-text();
}

.products {
  width: 100%;
  height: 350px;
}

.subtitle {
  @include bold-text();
  color: $orange;
}

.description {
  color: $Dark-grayish-blue;
}

.big-button {
  background-color: $Light-grayish-blue;
}

button {
  border: none;
  background-color: transparent;
}

.discount {
  background-color: $Pale-orange;
  color: $orange;
  width: 50px;
  border-radius: 10px;
}

.old-price {
  @include standard-text();
  color: $Dark-grayish-blue;
}

.add {
  background-color: $orange;
  position: absolute;
  top: 12px;
  right: 66px;
  padding: 0 5px;
  border-radius: 30px;
  font-size: 12px;
  height: 18px;
  color: $White;
  width: 20px;
}

.add-to-cart {
  background-color: $orange;
  color: white;
  width: 100%;
  margin-bottom: 20%;
  border-radius: 10px;
}

.cart-2 {
  filter: brightness(0) invert(1);
}

.basket {
  background-color: $White;
  width: 388px;
  height: 310px;
  margin-right: 20px;
  margin-top: 10px;
  z-index: 10;
}

h2 {
  margin-left: 15px;
}

.line {
  position: absolute;
  background-color: gray;
  width: 100%;
  height: 1px;
  left: 0;
}

.cart-img {
  width: 70px;
  height: 70px;
}

.checkout {
  width: 90%;
  background-color: $orange;
  color: $White;
  padding: 20px 0;
}

.text {
  width: fit-content;
}

.trash {
  width: 18px;
  height: 22px;
}

.text:not(span) {
  color: $Dark-grayish-blue;
}

span {
  color: black;
}

.slider {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  top: 210px;
}

.slider button {
  background-color: white;
  padding: 14px 15px;
  border-radius: 60px;
  justify-content: center;
  z-index: 1;
}

.slider img {
  width: 12px;
  height: 17px;
  z-index: 1;
}
